@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
	font-family: sans-serif, Helvetica, Calibri, Verdana ;
	background: #222;
	
}
h1{
 color: #eee;
	border-color: #666;
}
h3{
  

	padding-left: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 36px;
	
}
p{


	padding-left: 15px;
	padding-right: 15px;
	line-height: 1.5;
}

nav a, nav a:link, nav a:visited{
color: gold;
text-decoration: none;	
	
	

}
nav a:hover, a:active{
color: #fff;
	
	
}
nav ul{
	
	
}
nav li{
display:block; float:left; margin: 0 40px 0 25px; 
	padding: 10px;
	
	
	
}
#wrapper{
	margin: 0 auto;
	width: 900px;
	background: #666;
	
	
	
	
	
}
#masthead{
	background-image: url(../img/saturn.jpg);
	background-repeat: no-repeat;
	height: 200px;
	width: 900px;
	padding: 80px 20px 0 80px;
	font-size: 30px;
	text-shadow:  2px 2px 2px black, -2px -2px 2px gold;
	}

#mainnav{
	height: 50px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #444;
	
}

#main{
color: #d4d4d4;	
clear: both;
	background-color: #444;

}

#footer{
background-color: #333;
	font-size: 12px;
}
#footer p{
color: #eee;
	padding-top: 20px;
	line-height: normal;
	padding-bottom:  20px;
}
#footer a{
color: gold;
}
